$gutter: 10px;
@mixin grid($cols) {
  @media screen and (min-width: 600px) {
    display: flex;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  }
}
.container {
  max-width: 1250px;
  width: 100%;
  margin: 0px auto;
  padding: 0 $gutter;

  // border: 1px solid blue;

  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    [class*="col-"] {
      padding: 0 $gutter;
      margin-bottom: $gutter;

      // border: 1px solid rgb(255, 0, 98);
    }
    @include grid(12);
  }
}

$gutter: 10px;
@mixin grid($cols) {
  @media screen and (max-width: 600px) {
    display: flex;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  }
}
