.NavBarr-wrapper {
  height: 15vh;
  background: #ff1744;
  border-radius: 0px 0px 5px 5px;
}

.NavBarr-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .NavBarr-wrapper {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
